.admin-area{
    background-color: black;
    color: white;
    height: 100vh;
}
.admin-container{
    overflow-x: hidden;
}
.admin-manu{
    list-style: none;
    cursor: pointer;
}
.admin-manu:hover{
    color: blanchedalmond;
}